project_name     = "gleider-dev"
domain           = "gleider.dev"
region           = "us-east-2"
db_name          = "gleiderdev"
db_username      = "gleider"
environment      = "production"
ssh_allowed_cidr = "0.0.0.0/0" # Restrict to your IP for security: "YOUR_IP/32"
